<div class="container justify-content-center align-items-center">
  <div>
    <% if @categories.any? %>
      <ul class="list-unstyled">
        <% @categories.each do |category| %>
          <li class="row mb-3">
            <div class="col-md-8 col-12">
              <div class="d-flex">
                <div>
                  <img class="icon" src="/assets/category_icons/<%= category.icon %>" alt="<%= category.name %> Icon">
                </div>
                <div class="ms-4 d-flex flex-column justify-content-center align-items-center">
                  <div>
                    <%= link_to category.name, category_path(category) %>
                  </div>
                  <div>
                    <%= category.created_at.strftime('%d %b %Y') %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-12 d-flex align-items-center justify-content-end">
              <% total_amount = 0 %>
              <% @payments.each do |payment| %>
                <% if payment.category == category %>
                  <% total_amount += payment.amount %>
                <% end %>
              <% end %>
              <ul class="list-unstyled">
                <li class="">
                  $<%= total_amount %>
                </li>
              </ul>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No categories found.</p>
    <% end %>
     <div class="text-center mt-3">
        <%= link_to 'New Category', new_category_path, class: 'btn btn-primary' %>
      </div>
  </div>
</div>