<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :stylesheets %>
		<%= stylesheet_link_tag "custom", media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
		<header>
  <nav>
    <div class="container-fluid pt-2 mb-3 top">
      <div class="row">
        <div class="col-2">
          <div class="menu-icon mt-1">
            <i class="fa-solid fa-bars text-white bar"></i>
          </div>
        </div>
        <div class="col-7">
          <h1 class="text-center text-white">TRANSACTIONS</h1>
        </div>
        <div class="col-3 d-flex justify-content-end">
          <div class="search-icon">
            <i class="fa-solid fa-magnifying-glass fa-beat text-white bar"></i>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
    <%= yield %>
		<div class="container justify-content-center align-items-center">
		<div class="col-md-12 col-12 text-right d-flex justify-content-end">
          <% if user_signed_in? %>
            <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-secondary btn-sm" %>
          <% else %>
          <% end %>
        </div>
				</div>
  </body>
</html>
